{{question-detail question=model}}

{{question-update question=model updateQuestion="updateQuestion"}}

{{answer-add question=model addAnswer="addAnswer"}}

<button {{action "deleteQuestion" model}}>Delete this Question</button>
